<% include ./partial/header %>

<div class="container">
  <div class="row">
    <form action="/student/<%= student._id%>?_method=PUT" method="POST">
      <!-- 1st row for person name, school and grade -->
      <div class="row">
        <div class="form-group col">
          <label>First Name</label>
          <input type="text" name="first" value="<%= student.name.first%>" class="form-control">
        </div>
        <div class="form-group col">
          <label>Last Name</label>
          <input type="text" name="last" value="<%= student.name.last%>" class="form-control">
        </div>
        <div class="form-group col">
          <label>School</label>
          <input type="text" name="school" value="<%= student.school %>" class="form-control">
        </div>
        <div class="form-group col">
          <label>Grade</label>
          <select class="form-control" name="grade" value="<%= student.grade %>">
            <option <% if(student.grade == 6){ %> <%='selected' %> <% } %>>6</option>
            <option <% if(student.grade == 7){ %> <%='selected' %> <% } %>>7</option>
            <option <% if(student.grade == 8){ %> <%='selected' %> <% } %>>8</option>
            <option <% if(student.grade == 9){ %> <%='selected' %> <% } %>>9</option>
            <option <% if(student.grade == 10){ %> <%='selected' %> <% } %>>10</option>
            <option <% if(student.grade == 11){ %> <%='selected' %> <% } %>>11</option>
          </select>
        </div>
      </div>

      <!-- 2nd row for person height and weight -->
      <div class="row">
        <div class="form-group col">
          <label>Height</label>
          <input type="text" name="height" class="form-control" value="<%= student.height %>">
        </div>

        <div class="form-group col">
          <label>Weight</label>
          <input type="text" name="weight" class="form-control" value="<%= student.weight %>">
        </div>
      </div>

      <!-- 3rd row for primary position -->
      <div class="row">
        <div class="form-group col">
          <legend class="col-form-label pt-0">Primary Position</legend>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio1" value="WR" <% if(student.position == 'WR'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio1">WR</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio2" value="RB" <% if(student.position == 'WB'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio2">RB</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio3" value="QB" <% if(student.position == 'QB'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio3">QB</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio4" value="OL" <% if(student.position == 'OL'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio4">OL</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio5" value="K" <% if(student.position == 'K'){ %> <%='checked' %> <% } %> >
            <label class="form-check-label" for="inlineRadio5">K</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio6" value="P" <% if(student.position == 'P'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio6">P</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio7" value="DL" <% if(student.position == 'DL'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio7">DL</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio8" value="LB" <% if(student.position == 'LB'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio8">LB</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="position" id="inlineRadio9" value="DB" <% if(student.position == 'DB'){ %> <%='checked' %> <% } %>>
            <label class="form-check-label" for="inlineRadio9">DB</label>
          </div>
        </div>
      </div>

      <!-- 4rd row for physical ability -->
      <div class="row">
        <div class="form-group col">
          <label>Arm Span</label>
          <input type="text" name="armSpan" class="form-control" value="<%= student.armSpan %>">
        </div>
        <div class="form-group col">
          <label>Bench Press</label>
          <input type="number" name="benchPress[first]" class="form-control" value="<%= student.benchPress.first %>">
          <input type="number" name="benchPress[second]" class="form-control" value="<%= student.benchPress.second %>">
        </div>
        <div class="form-group col">
          <label>Broad</label>
          <input type="text" name="broad" class="form-control" value="<%= student.broad %>">
        </div>
        <div class="form-group col">
          <label>Vertical</label>
          <input type="text" name="vertical" class="form-control" value="<%= student.vertical %>">
        </div>
      </div>

      <!-- 5th row continue of physical ability -->
      <div class="row">
        <div class="form-group col">
          <label>40: 1st</label>
          <input type="text" name="fortyFirst" class="form-control" value="<%= student.forty.first %>">
        </div>
        <div class="form-group col">
          <label>A40: 2nd</label>
          <input type="text" name="fortySecond" class="form-control" value="<%= student.forty.second %>">
        </div>
        <div class="form-group col">
          <label>Shuttle: 1st L</label>
          <input type="text" name="shuttleFirst" class="form-control" value="<%= student.shuttle.firstL %>">
        </div>
        <div class="form-group col">
          <label>Shuttle: 2nd R</label>
          <input type="text" name="shuttleSecond" class="form-control" value="<%= student.shuttle.secondR %>">
        </div>
      </div>


      <!-- end of input -->
      <button class="btn btn-success">Update Student Profile</button>
      <a href="/student" class="btn btn-secondary">Go Back</a>
    </form>
  </div>
</div>


<% include ./partial/footer %>